/** float label inputs **/
.has-float-label {
    position: relative;
    width: 100%;
    z-index: 23;
}

    .has-float-label label {
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: -.5em;
        left: 12px;
        z-index: 3;
        line-height: 1;
        padding: 0 1px;
    }

        .has-float-label label::after {
            content: " ";
            display: block;
            position: absolute;
            background: white;
            height: 2px;
            top: 50%;
            left: -.2em;
            right: -.2em;
            z-index: -1;
        }

    .has-float-label .form-control::-webkit-input-placeholder {
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
        opacity: 0;
    }

    .has-float-label .form-control:placeholder-shown:not(:focus) + label {
        opacity: .5;
        top: .5em;
        font-weight: normal;
    }

.input-group .has-float-label {
    display: table-cell;
}

    .input-group .has-float-label .form-control {
        border-radius: 4px;
    }

    .input-group .has-float-label:not(:last-child) .form-control {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .input-group .has-float-label:not(:first-child) .form-control {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
    }

.has-float-label input:focus, .has-float-label textarea:focus, .has-float-label select:focus {
    border-color: #0d47a1;
    box-shadow: none;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    font-size: 100%;
    margin-top: 4px;
}

.form-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    margin-right: 5px;
}

.form-icon-passwd {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 989;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: auto;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    margin-right: 5px;
}
/** float label inputs **/


.spin-1x {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.2em;
}

.icon-2x {
    font-size: 1.6em;
}

.spin-x {
    width: 1rem;
    height: 1rem;
    border-width: 0.1em;
}

.spin-1x {
    width: 1.2rem;
    height: 1.2rem;
    border-width: 0.1em;
}

.spin-2x {
    width: 2rem;
    height: 2rem;
    border-width: 0.1em;
}

.spin-3x {
    width: 3rem;
    height: 3rem;
    border-width: 0.1em;
}

.alert{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.btn-default {
    color: #3F4254;
    border-color: #6c757d;
    background-color: #fff;
}

.btn-default:hover {
    color: #3F4254 !important;
        border-color: #e7e9f1;
    background-color: #e7e9f1 !important;
}

.btn-check:focus+.btn-default,
.btn-default:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-check:checked+.btn-default,
.btn-check:active+.btn-default,
.btn-default:active,
.btn-default.active,
.btn-default.dropdown-toggle.show {
    color: #fff;
    color: #3F4254;
    /*background-color: #888;
	border-color: #6c757d;*/
    border-color: #e7e9f1;
    background-color: #e7e9f1;
}

.btn-check:checked+.btn-default:focus,
.btn-check:active+.btn-default:focus,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-default:disabled,
.btn-default.disabled {
    /*background-color: transparent;*/
    color: #3F4254;
    color: #3F4254;
}

.dropdown-menu {
    border: 0.1rem solid #B5B5C3 !important;
}

.bg-defult {
    background-color: #e9ecef !important;
        color: #444;
}

.bg-mdl-add {
    background-color: #0288D1 !important;
        color: #fff;
}

.bg-mdl-del {
    background-color: #A21A20 !important;
    color: #fff !important;
}

.bg-default {
    background-color: #e9ecef !important;
}

.bg-mdl-up {
    background-color: #146c43 !important;
        color: #fff;
}

.bg-tools {
    background-color: #2c3e50 !important;
}

.page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

.page-item.active .page-link:hover {
    background-color: #0a58ca;
    border-color: #0a58ca;
    color: #fff;
}

.tbl-chk input[type="checkbox"] {
    display: none;
}

.tbl-chk tr:hover input[type="checkbox"] {
    display: block;
}

.tbl-chk input[type="checkbox"]:checked {
    display: block;
}

.row-link th.th-link:hover {
    cursor: pointer;
        color: #0069d9;
}

table th.th-sort:hover {
    cursor: pointer;
        color: #0069d9;
}

.bg-secondary {
    color: #444;
}

.text-primary {
    color: #0d6efd !important;
}

/*.input-control, .form-control, .form-select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.85rem;
    color: #212 !important;
}*/

.input-group-text {
    padding: 0.42rem
}

.badge-labeled {
    padding-top: 0;
        padding-bottom: 0;
        padding-right: 0.2rem;
}

.badge-labeled i {
    padding: 0.25em 0.3rem;
        cursor: pointer;
        position: relative;
        display: inline-block;
        right: -0.2em;
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.2);
        border-left: solid 1px rgba(255, 255, 255, .5);
        border-radius: 0 0.25rem 0.25rem 0;
}


/* image load imagex*/
/*for img actv*/
.box-img-art img,
.box-img-art:after,
.box-img-art:before {
    width: 100%;
    transition: all .3s ease 0s;
}

.box-img-art .icon li a {
    text-align: center;
}

.box-img-art:after,
.box-img-art:before {
    content: "";
}

.box-img-art {
    overflow: hidden;
}

.box-img-art .title {
    letter-spacing: 1px;
}

.box-img-art .icon,
.box-img-art .title {
    margin: 0;
    position: absolute;
}

.box-img-art .icon,
.box-img-art .title {
    margin: 0;
    position: absolute;
}

.box-img-art {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        position: relative;
        height: 120px;
}

.box-img-art img {
    height: auto;
        transform: scale(1) rotate(0);
}

.box-img-art:hover img {
    filter: sepia(30%);
        transform: scale(1.3) rotate(10deg);
}

.box-img-art .icon {
    padding: 2px 3px;
        list-style: none;
        border-radius: 0 0 0 5px;
        top: 0%;
        right: 0;
        z-index: 2;
        transition: all .3s ease .2s;
}

.box-img-art:hover .icon {
    top: 0px;
}

.box-img-art .icon li {
    display: block;
        margin: 5px 0;
}

@media (max-width:600px) {
    .box-img-art {
            height: 100px;
        }

}

@media (max-width:400px) {
    .box-img-art {
            height: 90px;
        }

}

@media (max-width:200px) {
    .box-img-art {
            height: 80px;
        }

}

/*load image imagex*/

.btn, .form-control{
    border: 1px solid #9fa6bd;
}


.form-control{
    border: 1px solid #ddd;
}


td .badge, .badge, .badge i{
    color: #fff;
}

td .badge i{
    color: #fff !important;
}

/*i {
    font-size: 1.32rem !important;
    padding-right: 4px;
}

.bi {
    vertical-align: -0.125em;
    fill: currentcolor;
}*/


td span span{
    color: #000 !important;
}


.tab-pane .card-title i{
    font-size: 1.75rem !important;
    color: #0d6efd !important;
}

.tab-pane .card-title h3{
    color: #0d6efd !important;
    font-size: 1.75rem;
}

.table tr td a {
    font-weight: bold;
}

.bg-secondary{
    color: #d6d6d6 !important;
}

.border-secondary{
    border-color: #d6d6d6 !important;
}



.mt-check-permit {
    margin-top: 0.38rem !important;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;   
}

.btn-link {
    border: 0 !important;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 1px solid #d6d6d6;
}

.btn-block {
    display: block;
        width: 100%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.border-card-edit{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


input[type=date] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    width: 90%;
    background: #0000;
    position: absolute;
    transform: scale(12)
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    content: "";
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16"%3E%3Cpath d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/%3E%3Cpath d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/%3E%3C/svg%3E') center / contain no-repeat;
    width: 15px;
        height: 15px;
    position: absolute;
    top: 8px;
    right: 6px;
    color: #222;
}

input[type=time] {
    position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
    width: 90%;
    background: #0000;
    position: absolute;
    transform: scale(12)
}

input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="time"]:before {
    color: transparent;
    background: none;
    display: block;
    content: "";
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"%3E%3Cpath d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/%3E%3Cpath d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/%3E/%3E%3C/svg%3E') center / contain no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 11px;
    right: 14px;
    color: #222;
}